<div class="main-container text-center">
  <img class="logo img-fluid " src="/assets/logo.jpeg">
  <div class='text-center'>
    <h2>Chegou Água</h2>
  </div>
  
  <div class="form-login justify-content-center">
    <form>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
      </div>
    </form>
  </div>
  <button class="btn btn-primary" (click)="login()">Entrar</button>

</div>